.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .aboutTop {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-family: cursive;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
  }
  
  .aboutBottom p {
    width: 1000px;
    margin-left: 200px;
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }